<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <!-- File target with date-based filename -->
    <target xsi:type="File" name="fileTarget"
            fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}.log"
            layout="${longdate} [${level:uppercase=true}] ${logger} - ${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/Logs/archive.{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="30" />
    
    <!-- Console target for development -->
    <target xsi:type="Console" name="consoleTarget"
            layout="${time} [${level:uppercase=true}] ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Log all messages to file -->
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
    <!-- Log Info and above to console -->
    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
  </rules>
</nlog>